* {
	font-family: Arial;
}


.overlay {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.8);
	color: white;
	font-size: 24pt;
	text-align: center;
	padding-top: 100px;
}
.text-input {
	font-size: 15pt;
	margin-top: 30px;
	background-color: transparent;
	border: none;
	border-bottom: 3px solid white;
	display: inline-block;
	width: 50%;
	padding: 10px;
	outline: none;
	color: inherit;
}
.btn {
	float: right;
	padding: 10px;
	display: inline-block;
	margin-right: 25%;
	background-color: rgb(100, 222, 130);
	border: none;
}

#node-editor {
	display: none;
	height: inherit;
	padding-top: 10px;
	padding-bottom: 20px;
}

#node-editor .text-input {
	margin-top: 20px;
}
#author-name {
	font-size: 10pt;
	color: #aaa;
	float: left;
	margin-left: 25%;
	margin-top: 10px;
	text-align: left;
}
#author-name b {
	color: #ccc;
}



/* Custom timeline styles */

#timeline {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.vis-item .vis-item-content {
	max-width: 300px;
	white-space: initial;
}
.vis-item.vis-box, .vis-item.vis-box.vis-selected {
	padding: 4px;
	background-color: #36a70c;
	color: white;
	font-weight: 200;
	border: 0px solid #000;
	box-shadow: 1px 1px 0.5px rgba(0, 100, 0, 0.2)
}

.vis-item.vis-box.vis-selected:before {
	content: '';
	position: absolute;
	width: calc(100% + 6px);
	height: calc(100% + 6px);
	top: -4px;
	left: -4px;
	background: transparent;
	border: 2px dashed gray;
}

.vis-item.vis-line {
	border-left-width: 2px;
	border-left-style: dashed;
	border-color: rgba(153, 218, 115, 0.85);
	background-color: transparent;
	box-shadow: none;
}

/* The down-arrow */
.vis-item:before {
	content: '';
	position: absolute;
	bottom: -5px;
	left: calc(50% - 5px);
	width: 0px;
	height: 0px;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #36a70c;
}
